<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wardrobe Picker</title>
    <link href='https://fonts.googleapis.com/css?family=Pontano+Sans' rel='stylesheet' type='text/css'>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!--razer syntax: "NAME YOU WANT", "fileName", "folderFileIsIN"-->
                @Html.ActionLink("Wardrobe Picker", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                
                <!--Quick Select Buttons for Wardrobe Navigation-->
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Tops <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#">Add New Top</a></li>
                        <li><a href="#">Edit Top</a></li>
                        <li><a href="#">View Top Details</a></li>
                        <li><a href="#">Delete Top</a></li>
                    </ul>
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Bottoms <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#">Add New Bottom</a></li>
                        <li><a href="#">Edit Bottom</a></li>
                        <li><a href="#">View Bottom Details</a></li>
                        <li><a href="#">Delete Bottom</a></li>
                    </ul>
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Shoes <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#">Add New Shoe</a></li>
                        <li><a href="#">Edit Shoe</a></li>
                        <li><a href="#">View Shoe Details</a></li>
                        <li><a href="#">Delete Shoe</a></li>
                    </ul>
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Accessories <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#">Add New Accessory</a></li>
                        <li><a href="#">Edit Accessory</a></li>
                        <li><a href="#">View Accessory Details</a></li>
                        <li><a href="#">Delete Accessory</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
